/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: #fcfcff;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #000;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; /* main axis */
    align-items: center; /* cross axis */
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    left: 100%;
    background: #000;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    right: 100%;
    background: #000;
}

.items-left {
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
}

.items-right {
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
}

@media (min-width: 300px) and (max-width: 539px) {
    .items-left {
        width: 100%;
        justify-content: flex-start; /* main axis */
        align-items: center; /* cross axis */
    }

    .items-right {
        width: 100%;
        justify-content: flex-start; /* main axis */
        align-items: center; /* cross axis */
    }
}

@media (min-width: 540px) {
    .items-left {
        width: 50%;
        justify-content: flex-start; /* main axis */
        align-items: center; /* cross axis */
    }

    .items-right {
        width: 50%;
        justify-content: flex-end; /* main axis */
        align-items: center; /* cross axis */
    }
}

figure.logo-header {
    width: 50px;
    margin: 0;
    padding-top: 2px;
    flex: initial;
}

.ribbon {
    width: 90%;
    margin: 0 0 1em; /* longhand  0 0 1em 0 */
    padding: 0 5%;
    background: #009ddc;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
    position: relative;
}

.ribbon::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    left: 100%;
    background: #009ddc;
}

.ribbon::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    right: 100%;
    background: #009ddc;
}

main {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: stretch; /* cross axis */
}

.heading {
    width: 95%;
    margin: 1em 0;
    padding: 0 2.5%;
    background: #dde3ea;
    flex: initial;
}

.heading-error {
    width: 95%;
    margin: 1em 0;
    padding: 0 2.5%;
    background: #ffdad6;
    flex: initial;
}

section {
    margin: 1em 0;
    padding: 0.5em 2.5%;
    flex: initial;
}

.intro {
    margin: 1em 0;
    padding: 0.5em 2.5%;
    border: 2px solid #dde3ea;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    section, .intro {
        width: 95%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    section, .intro {
        width: 95%;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    section {
        width: 40%;
    }

    .intro {
        width: 95%;
    }
}

@media (min-width: 800px) {
    section {
        width: 25%;
    }

    .intro {
        width: 60%;
    }
}

.gen-border {
    border: 2px solid #dde3ea;
}

.loc-border {
    border: 2px solid #c7e7ff;
}

.vic-border {
    border: 2px solid #e5deff;
}

.perp-border {
    border: 2px solid #ffdbd0;
}

/* Styles for Mapbox map (Styles for triangle tip in App.vue) */
#map-area {
    width: 100%;
    height: 600px;
    margin: 1em 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.map-container {
    width: 100%;
    flex: 1;
}

.mapboxgl-popup {
    width: 50%;
    max-width: 180px;
}

.mapboxgl-popup-content {
    border: 1px solid #dde3ea;
}

footer {
    width: 90%;
    margin-top: 1em;
    padding: 2em 5%;
    background: #000;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    left: 100%;
    background: #000;
}

footer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    right: 100%;
    background: #000;
}

@media (min-width: 300px) and (max-width: 499px) {
    footer {
        justify-content: flex-start; /* main axis */
        align-items: center; /* cross axis */
    }
}

@media (min-width: 500px) {
    footer {
        justify-content: space-between; /* main axis */
        align-items: center; /* cross axis */
    }
}

figure.logo-footer {
    margin: 0;
    padding: 0;
}

@media (min-width: 300px) and (max-width: 399px) {
    figure.logo-footer {
        width: 25%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    figure.logo-footer {
        width: 20%
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    figure.logo-footer {
        width: 15%;
    }
}

@media (min-width: 600px) {
    figure.logo-footer {
        width: 10%;
    }
}

/* Font styles and their media queries */
h1  {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
    color: #41484d;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #191c1e;
}

.header-text {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
}

/* Used for <p class="error-msg"> */
.error-msg {
    color: #ba1a1a;
}

.pipe {
    margin: 0 0.5em;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

p a {
    color: #00587e;
    text-decoration: underline;
}

.header-text a {
    color: #fff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    list-style: none;
}

@media (min-width: 300px) and (max-width: 499px) {
    ul {
        width: 100%;
        margin: 0 0 1em; /* longhand 0 0 1em 0 */
    }
}

@media (min-width: 500px) {
    ul {
        width: 80%;
        margin: 0;
    }
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 500;
    color: #fff;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    margin-left: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 600;
    color: #191c1e;
}

dd {
    margin-left: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #191c1e;
    border-bottom: 1px solid #dde3ea;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

dd:last-child {
    border-bottom: none;
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    p, li, dt, dd  {
        font-size: 0.8125em; /* 13px */
    }

    h1, .header-text, .pipe {
        font-size: 0.75em; /* 12px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }

    h3 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    p, li, dt, dd  {
        font-size: 0.9375em; /* 15px */
    }

    h1, .header-text, .pipe {
        font-size: 0.8125em; /* 13px */
    }

    h2 {
        font-size: 1.25em; /* 20px */
    }

    h3 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    p, li, dt, dd  {
        font-size: 1.0625em; /* 17px */
    }

    h1, .header-text, .pipe {
        font-size: 0.875em; /* 14px */
    }

    h2 {
        font-size: 1.3125em; /* 21px */
    }

    h3 {
        font-size: 1.1875em; /* 19px */
    }
}

@media (min-width: 600px) {
    p, li, dt, dd  {
        font-size: 1.1875em; /* 19px */
    }

    h1, .header-text, .pipe {
        font-size: 0.9375em; /* 15px */
    }

    h2 {
        font-size: 1.375em; /* 22px */
    }

    h3 {
        font-size: 1.25em; /* 20px */
    }
}