body {
    margin-top: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #e8eaf6; /* indigo 50 */
    position: relative;
    flex: initial; /* flex: 0 1 auto */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 2000px;
    left: 100%;
    background: #e8eaf6; /* indigo 50 */
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 2000px;
    right: 100%;
    background: #e8eaf6; /* indigo 50 */
}

nav {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #4a148c; /* purple 900 */
    position: relative;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: center; /* cross axis */
}

nav::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    left: 100%;
    background: #4a148c; /* purple 900 */
}

nav::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    right: 100%;
    background: #4a148c; /* purple 900 */
}

.nav-link {
    font-family: Courier, monospace;
    line-height: 1.8;
    font-weight: 400;
}

nav .nav-link {
    color: #fff;
    text-decoration: none;
}

nav .router-link-active {
    color: #ff8a80; /* red a100 */
}

header .nav-link {
    color: #fff;
    color: #000;
    text-decoration: none;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

.view-intro {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /* flex: 0 1 auto */
}

.view-title {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /* flex: 0 1 auto */
}

.data-point {
    width: 90%;
    margin-bottom: 1.5em;
    padding: 0.5em 5%;
    background: #eceff1; /* blue grey 50 */
    border: 2px solid #b0bec5; /* blue grey 200 */
    flex: initial; /* flex: 0 1 auto */
}

table {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    border-collapse: collapse;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    padding-left: 5%;
    border: 2px solid #cfd8dc; /* blue grey 100 */
}

.group {
    width: 35%;
}

.stat {
    width: 30%;
}

.percent {
    width: 20%;
}

footer {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #cfd8dc;
    flex: initial; /* flex: 0 1 auto */
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 500;
}

p,
tr {
    font-family: Courier, monospace;
    line-height: 1.8;
    font-weight: 400;
}

.text-link {
    color: #616161; /* grey 700 */
    cursor: pointer;
    display: inline;
}

.text-link:hover {
    text-decoration: underline;
}

@media all and (min-width: 300px) {
    p,
    .nav-link,
    tr {
        font-size: 0.875em;
    }

    h1 {
        font-size: 0.875em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.9375em;
    }
}

@media all and (min-width: 400px) {
    p,
    .nav-link,
    tr {
        font-size: 0.9375em;
    }

    h1 {
        font-size: 0.9375em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }
}

@media all and (min-width: 600px) {
    p,
    .nav-link,
    tr {
        font-size: 1.2em;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.2em;
    }
}
