body {
    margin-top: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #e7f0f6; /* light blue */
    position: relative;
    flex: initial; /* flex: 0 1 auto */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    left: 100%;
    background: #e7f0f6; /* light blue */
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    right: 100%;
    background: #e7f0f6; /* light blue */
}

nav {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #212121; /* grey 900 */
    position: relative;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: center; /* cross axis */
}

nav::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    left: 100%;
    background: #212121; /* grey 900 */
}

nav::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    right: 100%;
    background: #212121; /* grey 900 */
}

.nav-link {
    font-family: Courier, monospace;
    line-height: 1.8;
    font-weight: 400;
}

nav .nav-link {
    color: #fff;
    text-decoration: none;
}

header .nav-link {
    color: #000;
    text-decoration: none;
}

nav .router-link-active {
    font-weight: 600;
}

header .router-link-active {
    color: #000;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

.view-intro {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /* flex: 0 1 auto */
}

.view-title {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /* flex: 0 1 auto */
}

.data-point {
    width: 90%;
    margin-bottom: 1.5em;
    padding: 0.5em 5%;
    background: #e7f0f6; /* light blue */
    border: 2px solid #b0bec5; /* blue grey 200 */
    flex: initial; /* flex: 0 1 auto */
}

table {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    border-collapse: collapse;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    padding-left: 5%;
    border: 2px solid #cfd8dc; /* blue grey 100 */
}

@media (min-width: 300px) and (max-width: 399px) {
    .group {
        width: 45%;
    }

    .stat {
        width: 20%;
    }

    .percent {
        width: 20%;
    }
}

@media (min-width: 400px) {
    .group {
        width: 40%;
    }

    .stat {
        width: 25%;
    }

    .percent {
        width: 20%;
    }
}

footer {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /* flex: 0 1 auto */
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
}

p,
tr {
    font-family: Courier, monospace;
    line-height: 1.8;
    font-weight: 400;
}

p a {
    color: #03588c; /* very dark blue */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media (min-width: 300px) and (max-width: 399px) {
    .nav-link {
        font-size: 0.8755em; /* 14px */
    }

    p {
        font-size: 0.8755em; /* 14px */
    }

    tr {
        font-size: 0.8125em; /* 13px */
    }

    h1 {
        font-size: 0.9375em; /* 15px */
    }

    h2 {
        font-size: 0.9375em; /* 15px */
    }

    h3 {
        font-size: 0.8755em; /* 14px */
    }
}

@media (min-width: 400px) and (max-width: 499px)() {
    .nav-link {
        font-size: 0.9375em; /* 15px */
    }

    p {
        font-size: 0.9375em; /* 15px */
    }

    tr {
        font-size: 0.8755em; /* 14px */
    }

    h1 {
        font-size: 1em; /* 16px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }

    h3 {
        font-size: 0.9375em; /* 15px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .nav-link {
        font-size: 1em; /* 16px */
    }

    p {
        font-size: 1em; /* 16px */
    }

    tr {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.0625em; /* 17px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }

    h3 {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 600px) {
    .nav-link {
        font-size: 1.0625em; /* 17px */
    }

    p {
        font-size: 1.0625em; /* 17px */
    }

    tr {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.125em; /* 18 px */
    }

    h2 {
        font-size: 1.125em; /* 18 px */
    }

    h3 {
        font-size: 1.0625em; /* 17px */
    }
}
